
.category {
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.detail {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #a3a3a3;
    margin-right: 1.2em;
}

.content {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}

.total {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #a3a3a3;
    margin-right: 1.2em;
}

.reservation-details {
    border-radius: 30px;
    border: solid black 2px;
    border-bottom-width: 10px;
}