<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- FONTS -->
    
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Bootstrap -->

        <!-- Icons Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Icons Bootstrap -->

    
        <!-- CSS -->
        <link rel="stylesheet" href="./styles/fonts.css">
        <link rel="stylesheet" href="./styles/confirm-reservation.css">
        <!-- CSS -->
        
    </head>
<body>
    
    <style>
        body{
            overflow-x: hidden;
        }
    </style>


    <div class="container">
        <div class="row d-flex flex-column px-5 pt-4">
            <div class="col">
                <img src="./assets/logoipsum-291.svg" width="50" alt="">
                <h4 class="roboto-bold">MainDorCoiffure</h4>

                <h2 class="roboto-bold text-center" style="padding-top: 4rem;">Confirm your Reservation</h2>
            </div>
        </div>

        <div class="container d-flex justify-content-center pt-5 ">
            <div class="row d-flex flex-column py-3 px-3 reservation-details">
                <div class="col">
                    <p class="category">Schedule</p>
                    <p class="content" style="margin-bottom:0.2rem;" ><span class="detail" >Date:</span> Saturday, 20 Aug, 2024 </p>
                    <p class="content"><span class="detail" >Time:</span> 14:40</p>
                </div>
                <div class="col">
                    <p class="category">Location</p>
                    <p class="content" ><span class="detail" >Place:</span>538 Rideau Street, Ottawa, ON</p>
                </div>
                <div class="col">
                    <p class="category">Services</p>
                    <p class="content" ><span class="detail" >Service:</span>Normal Haircut</p>
                </div>
                <div class="col pt-5">
                    <p class="content d-flex justify-content-between">
                        <span class="detail">Total:</span>
                        <span class="offset-md-4">85$</span></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary mt-4 fs-5">Reserve</button>
            </div>
        </div>

    </div>

        <!-- BOOTSTRAP -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- BOOTSTRAP -->
    
    
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- JQUERY -->
    
    </body>
    </html>