<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- FONTS -->
    
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Bootstrap -->

        <!-- Icons Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Icons Bootstrap -->

    
        <!-- CSS -->
        <link rel="stylesheet" href="./styles/fonts.css">
        <link rel="stylesheet" href="./styles/pick-date.css">
        <!-- CSS -->
        
    </head>
<body>
    
    <style>
        body{
            overflow-x: hidden;
        }
    </style>

    <div class="container">
        <div class="row d-flex flex-column px-5 pt-4">
            <div class="col">
                <img src="./assets/logoipsum-291.svg" width="50" alt="">
                <h4 class="roboto-bold">MainDorCoiffure</h4>
            </div>
            <div class="col pt-5">
                <h1 class="bebas-neue-regular">Pick A Date & Time</h1>
            </div>

            <div class="col pt-5 pb-3">
                <h2 class="bebas-neue-regular text-center text-decoration-underline">August 2024</h2>
            </div>

            <div class="container">
                <div class="row date-select">

                    <div class="col-md-2 col-sm-8 d-flex justify-content-around align-items-center">
                        <i class="bi bi-arrow-left-circle"></i>
                        <div class="date-box current fs-5 rounded-4">
                            <p class="text-center">sat <br> 2</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-8 d-flex justify-content-center align-items-center ">
                        <div class="date-box fs-5 rounded-4">
                            <p class="text-center" >sun <br> 3</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-8 d-flex justify-content-center align-items-center">
                        <div class="date-box fs-5 rounded-4">
                            <p class="text-center" >mon <br> 4</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-8 d-flex justify-content-center align-items-center">
                        <div class="date-box fs-5 rounded-4">
                            <p class="text-center" >tue <br> 5</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-8 d-flex justify-content-around align-items-center">
                        <div class="date-box fs-5 rounded-4">
                            <p class="text-center" >wed <br> 6</p>
                        </div>
                        <i class="bi bi-arrow-right-circle"></i>
                    </div>
                </div>
            </div>

            <div class="container pt-5">
                <div class="row timeslots mb-5">
                    <div class="col time-select selected py-1">
                        <span class="bebas-neue-regular fs-3">11:40</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">12:00</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">12:20</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">12:40</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">13:00</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">13:20</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">13:40</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">14:00</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">14:20</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">14:40</span>
                    </div>
                    <div class="col time-select  py-1">
                        <span class="bebas-neue-regular fs-3">15:00</span>
                    </div>
                    <div class="col time-select  py-1 mb-5">
                        <span class="bebas-neue-regular fs-3">15:20</span>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="container">
        <div class="row px-5 pt-3 price-info w-50">
            <div class="col">
                <p style="margin-bottom: 0px;" >Total:</p>
                <p class="roboto-bold" >85$</p>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <button class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
    
    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->


    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- JQUERY -->

</body>
</html>